/*font-family: 'Port Lligat Sans', sans-serif;
font-family: 'Bubblegum Sans', cursive;
font-family: 'Pontano Sans', sans-serif;*/


/*HEADER - MENU*/
body{
    margin: 0; padding: 0;
}
.m-p{
    margin: 0; padding: 0;
}
header{
    background: #7DB0D7;
    height: 150px;
}
.logo {
    line-height: 150px;
    font-family: 'Bubblegum Sans', cursive;
    font-size: 48px;
    display: inline-block;
}
.logo a{
    color: #FFF;
}
nav{
    float: right;
    line-height: 150px;
    height: 150px;
}
nav ul li{
    display: inline-block;
}
nav ul li div{
    color: #FFF;
    font-family: 'Port Lligat Sans', sans-serif;
    font-size: 18px;
    padding: 0;
    margin: 0;
}
nav ul li div:hover{
    cursor: pointer;
    color: #1E2C49;
    text-decoration: underline;
}
nav ul li a{
    color: #FFF;
    font-family: 'Port Lligat Sans', sans-serif;
    font-size: 18px;
    padding: 10px;

}
nav ul li a:hover{
    color: #1E2C49;
}
/*FIM HEADER - MENU*/


/*INICIO*/

section div{
    width: 100%;
}
.conteudo_inicio{
    text-align: center;
}
.conteudo_inicio h1{
    text-transform: uppercase;
    font-family: 'Port Lligat Sans', sans-serif;
    color:#105aa2;
    font-size: 36px;
}
.conteudo_inicio h1:before{
    content: "";
    display: block;
    width: 300px;
    height: 4px;
    background: #105aa2;
    margin: 2px auto;
}
.conteudo_inicio h1:after{
    content: "";
    display: block;
    width: 300px;
    height: 3px;
    background: #105aa2;
    margin: 2px auto;
}

.conteudo_inicio p{
    text-align: center;
    max-width: 580px;
    margin: 0 auto;
    font-family: 'Pontano Sans', sans-serif;
    font-size: 18px;
    margin-bottom: 20px;
}
.conteudo_inicio p span{
    color: #105aa2;
}
.btn_sobre{
    padding: 5px 20px;
    font-size: 36px;
    font-family: 'Port Lligat Sans', sans-serif;
    border:3px solid #105aa2;
    border-radius: 5px;
    color: #105aa2;
}
.btn_sobre:hover{
    color: #1E2C49;
    border-color: #1E2C49;
    text-decoration: none;
}


/*ORGANIZAÇÃO  - PROFESSORES*/
.organizacao{
    margin-top: 50px;
    background-color: #105aa2;
    text-align: center;
    font-family: 'Port Lligat Sans', sans-serif;
    height: 700px;
    color:#FFF;
}
.organizacao h1{
    padding: 30px;
    text-transform: uppercase;
    font-size: 36px;
}
.organizacao h1:after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #FFF;
    margin: 2px auto;

}
.organizacao h2{
    text-decoration: underline;
    padding: 20px;
    font-size: 36px;
}
.organizacao h3{
    padding: 20px;
}
.btn_vermais{
    padding: 5px 20px;
    font-size: 36px;
    font-family: 'Port Lligat Sans', sans-serif;
    color: #FFF;
    border-radius: 5px;
    border: 3px solid #FFF;
}
.btn_vermais:hover{
    text-decoration: none;
    border: 3px solid #B3CCE2;
    color: #B3CCE2;

}

/*PLANOS*/

.planos{
    height: 900px;
    padding-top: 40px;
    text-align: center;
    font-family: 'Port Lligat Sans', sans-serif;
    background-image: url("../img/planos-bg.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}
.planos h1{
    color: #0D12FF;
    margin-bottom: 30px;
}
.planos h1:after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #0D12FF;
    margin: 2px auto;
}

.planos ul li{
    font-size: 24px;
    line-height: 40px;
}
.planos ul li img{
    padding: 0; 
    margin: 0;
    margin-top: -10px; 
}
.planos h3{
    font-size: 36px;
    max-width: 550px;
    margin: 0 auto;
    color: #0C4BE8;
    text-decoration: underline;
    margin-top: 50px;
    margin-bottom: 50px;
}
.btn_contato{
    padding: 5px 30px;
    font-size: 36px;
    font-family: 'Port Lligat Sans', sans-serif;
    background-color: #008CFF;
    color: #FFF;
}

/*DEPOIMENTOS*/

.depoimentos{
    padding-top: 30px;
    background-color: #008CFF;
    text-align: center;
    display: flex;
    flex: 1;
    font-family: 'Port Lligat Sans', sans-serif;
}
.depoimentos ul{
    width: 300px;
    float: right;
    margin-right: 50px;
}
.depoimentos ul li{
    padding: 10px 0;
    color: #FFF;
    font-size: 36px;
}
.btn_depoimentos{
    padding: 5px 30px;
    font-size: 36px;
    font-family: 'Port Lligat Sans', sans-serif;
    background-color: #0CBFF8;
    color: #FFF;

}
.frase_depoimentos {
    max-width: 900px;
    text-align: center;
    margin: 0 auto;
    padding: 40px 0;
}
.frase_depoimentos h1{
    font-family: 'Bubblegum Sans', cursive;
    color: #FFF;
    font-size: 36px;
}
.frase_depoimentos h1:after,.frase_depoimentos h1:before{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #FFF;
    margin: 2px auto;

}

/*FOOTER*/

.footer{
    display: flex;
    justify-content: center;
}
.rodape{
    background-color: #0CBFF8;
    justify-content: space-between;
    font-family: 'Port Lligat Sans', sans-serif;
    font-size: 18px;
    color: #FFF;
}
.footer_menu{
    display: flex;
}
.links,.contato_rodape,.redes{
    width: 350px;
    text-align: center;
}
.links a{
    color: #FFF;
}
.links li{ 
    padding: 5px;
}
.links li div:hover{ 
    cursor: pointer;
    text-decoration: underline;
}
.links li:first-child{
    padding-top: 20px;
}
.rodape h1{
    color: #FFF;
    padding-top: 20px;
}
.rodape h1:after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #FFF;
    margin: 2px auto;
}
.conteudo_contato ul{
    padding-top: 5px;
}
.conteudo_contato ul li{
    padding: 5px;
}
.redes ul li{
    display: inline-block;
    padding: 0 20px;
}

/*COPY*/

.copy{
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #008CFF;
    text-align: center;
    font-family: 'Pontano Sans', sans-serif;
    font-size: 18px;
    color: #FFF;
}
.copy p{
    margin: 0;
}

/*ANIMAÇÃO DE ENTRADA*/
[data-slide]{
    position: relative;
}
[data-slide] > * {
    position: absolute;
    top: 0px;
    opacity: 0;
}
[data-slide] > .active{
    position: relative;
    opacity: 1;
    transition: opacity 500ms;
}
[data-anime] {
    opacity: 0;
}
.anime {
    opacity: 1;
    transform: none;
    transition: transform .8s, opacity .8s;
}

/* 7 CSS personalizado dependendo da animação desejada */
.fadeInDown {
    transform: translate3d(0,-20px,0);
}
.fadeInUp {
    transform: translate3d(0,20px,0);
}
.fadeInRight {
    transform: translate3d(20px,0,0);
}
.fadeInLeft {
    transform: translate3d(-20px,0,0);
}

/*SIDE BAR FORMULARIO LOGIN*/

#sidebar{
    margin-top: 1px;
    position: fixed;
    width: 600px;
    height: 450px;
    background:#FFF;
    border: 3px solid #0CBFF8;
    right: -600px;
    transition: all 500ms linear;
    text-align: center;
    z-index: 10;
}
#sidebar.active{
    right:0px;
}
.login{
    width: 300px;
    margin: 0 auto;
    padding-top: 40px;
}







