/*font-family: 'Port Lligat Sans', sans-serif;
font-family: 'Bubblegum Sans', cursive;
font-family: 'Pontano Sans', sans-serif;*/
/*professores*/
.professores{
    text-align: center;
    font-family: 'Port Lligat Sans', sans-serif;
    color:#008CFF;
}
.professores h1{
    padding: 30px;
    text-transform: uppercase;
    font-size: 36px;
}
.professores h1:after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #008CFF;
    margin: 2px auto;

}
.professores h2{
    padding: 20px;
    font-size: 36px;
}
.professores ul{
    font-family: 'Pontano Sans', sans-serif;
    font-size: 18px;
    color: #000;

}

