/*font-family: 'Port Lligat Sans', sans-serif;
font-family: 'Bubblegum Sans', cursive;
font-family: 'Pontano Sans', sans-serif;*/
/*depoimentos*/
.pag_depoimentos{
    font-family: 'Port Lligat Sans', sans-serif;
    color:#008CFF;
}
.pag_depoimentos h1{
    padding-top: 30px;
    text-transform: uppercase;
    font-size: 36px;
}
.pag_depoimentos p{
    font-family: 'Pontano Sans', sans-serif;
    font-size: 18px;
    color: #000;
}
.pag_depoimentos p:last-child{
    margin-bottom: 50px;
}
.pag_depoimentos h1:after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #008CFF;
    margin: 2px ;

}

