/*font-family: 'Port Lligat Sans', sans-serif;
font-family: 'Bubblegum Sans', cursive;
font-family: 'Pontano Sans', sans-serif;*/
/*contato*/
.conteudo_esquerda,.conteudo_direita{
    float: left;
}
.conteudo_esquerda,form label,.btn_enviar{
    font-family: 'Port Lligat Sans', sans-serif;
    color:#008CFF;
}
.conteudo_esquerda h1{
    padding-top: 30px;
    text-transform: uppercase;
    font-size: 24px;
}
.conteudo_esquerda p{
    font-family: 'Pontano Sans', sans-serif;
    font-size: 18px;
    color: #000;
}
.conteudo_esquerda p:last-child{
    margin-bottom: 50px;
}
.wpp{
    background-color: #1BD741;
    width: 175px;
    height: 60px;
    border-radius: 5px;
    line-height: 60px;
    text-align: center;

}
.wpp a{
    color: #FFF;
    text-transform: uppercase;
    font-size: 18px;
}
.conteudo_esquerda ul{
    margin-top: 20px;
}
.conteudo_esquerda ul li{
    display: inline-block;
    padding: 0 3px;
}
.conteudo_direita{
    margin-top: 30px;
}
form label{
    font-size: 24px;
}
.btn_enviar{
    color: #FFF;
    background-color: #0CBFF8;
    padding: 10px 20px;
    font-size: 36px;



}

